:root {
    --dark: #2c3e50;
    --dark-2: #34495e;
    --light: #ecf0f1;
    --text-dark: var(--dark);
    --text-light: var(--light);
    --red: #c0392b;
    --red2: #e74c3c;
    --green: #16a085;
    --green2: #1abc9c;
    --blue: #2980b9;
    --blue2: #3498db;
}

/* General */
body {
    background-color: var(--dark);
    color: var(--text-light);
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
}

#app {
    margin: 5em auto;
    max-width: 720px;
    padding: 2rem;
    background-color: var(--dark-2);
    border-radius: 1rem;
}

#timer-container {
    color: var(--text-light);
    border-radius: 1rem;
    padding: 1rem;
    align-content: center;
    text-align: center;
}

#time {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    padding: 2rem;
    margin-bottom: 1rem;
    font-size: 5em;
    border-radius: 1rem;
}


/* Buttons */
#mode-buttons, #play-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#mode-buttons button, #play-buttons button {
    background-color: var(--button-background);
    border: none;
    color: var(--text-light);
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

/* Timer States */
.off-mode {
    --button-background: var(--dark);
}

.work-mode {
    background-color: var(--red) !important;
    --button-background: var(--red2);
}

.work-mode #time {
    background-color: var(--red2) !important;
}

.short-mode {
    background-color: var(--green) !important;
    --button-background: var(--green2);
}

.short-mode #time {
    background-color: var(--green2) !important;
}

.long-mode {
    background-color: var(--blue) !important;
    --button-background: var(--blue2);
}

.long-mode #time {
    background-color: var(--blue2) !important;
}